<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" action="/login">
        <div><label>Username: <input type="text" name="username" placeholder="username"></label></div>
        <div><label>Password: <input type="password" name="password" placeholder="password"></label></div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit"> login </button>
    </form>
</div>
</body>
</html>